h1 {
    color:yellowgreen;
    background-color: antiquewhite;
}

body {
    background-color: antiquewhite;
}

a {
    color: yellowgreen;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
}

table td{
    border: 1px solid black
}